.App {
  text-align: center;
  color: #edeeef;
  background-color: #181519;
}
* {
  color: #edeeef;
  background-color: #181519;
}

.articleImages {
  object-fit: fill;
  width: 100%;
  width: 400px;
  height: 200px;
}

.li {
  list-style: none;
}
.articleList {
  padding-left: 0px;
  border-top: 2px solid black;
}

.header {
  margin-bottom: 0px;
}

.starterImage {
  object-fit: fill;
  border: 5px solid rgb(119, 38, 38);
  border-radius: 20%;
  width: 100%;
  width: 450px;
  height: 400px;
}
.topicsButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  margin-right: 150px;
  margin-left: 150px;
}
.usersButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding-left: 30px;
  padding-right: 30px;
}
.homeButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav {
  border: 2px solid black;
  background-color: #636662;
  padding: 5px;
}

.articleImage {
  width: 100%;
}
