.App {
  text-align: center;
  color: #edeeef;
  background-color: #181519;
}
* {
  color: #edeeef;
  background-color: #181519;
}

.articleImages {
  object-fit: fill;
  width: 100%;
  width: 400px;
  height: 200px;
}

.li {
  list-style: none;
  border-bottom: black 2px solid;
}
.articleList {
  padding-left: 0px;
  border-top: 2px solid black;
}

.header {
  margin-bottom: 0px;
}

.starterImage {
  object-fit: fill;
  width: 100%;
  width: 400px;
  height: 350px;
  border: #181519 2px solid;
  border-radius: 10%;
}
/* .nav {
  display: flex;
  flex-wrap: wrap;
} */
.topicsButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 2px 2px 5px black;
}
.usersButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  box-shadow: 2px 2px 5px black;
}
.homeButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
  box-shadow: 2px 2px 5px black;
}

.nav {
  border: 2px solid black;
  background-color: #636662;
  padding: 20px;
  box-shadow: 2px 2px 5px black;
}

.articleImage {
  width: 100%;
}

.commentsList {
  list-style: none;
  padding-left: 0px;
}

.singleComment {
  border: #636662 solid 2px;
}

.ascButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}
.descButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}
.authorButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}
.topicButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}
.dateButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}
.votesButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}
.article_idButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}
.sortbyText {
  text-align: center;
  border: #636662 2px solid;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 2px 2px 5px black;
}
.orderbyText {
  text-align: center;
  border: #636662 2px solid;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 2px 2px 5px black;
}
.username {
  border: #636662 2px solid;
  padding-right: 0px;
  padding-left: 10px;
  margin: 10px;
  text-align: center;
  border: #181519;
}
.commentBody {
  border: #636662 2px solid;
  padding-right: 0px;
  padding-left: 10px;
  margin: 10px;
  text-align: center;
  border: #181519;
}
.commentBodyInput {
  background-color: #edeeef;
  padding-right: 0px;
  padding-bottom: 10px;
  margin-top: 20px;
  color: #181519;
  border: #181519 1px solid;
  border-radius: 10px;
}
.usernameInput {
  background-color: #edeeef;
  border: #181519 1px solid;
  border-radius: 10px;
  color: #000000;
}
.postCommentButton {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;
}
.addCommentForm {
  border: #636662 2px solid;
  box-shadow: black 2px 2px 40px;
  margin: 15px;
}
.topicLink {
  border: #636662 2px solid;
  box-shadow: black 2px 2px 40px;
  margin: 15px;
  padding: 50px;
  list-style: none;
}

.upvote {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}
.downvote {
  background-color: #1a3221;
  color: #edeeef;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  box-shadow: 2px 2px 5px black;
}

.user {
  border: #000000 solid 2px;
}
.usersIntro {
  border-top: #000000 2px solid;
}
.userpageImage {
  height: 200px;
  object-fit: fill;
  width: 200px;
  border: 2px solid black;
  border-radius: 50%;
}
